#login{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.error {
  color: red;
}

input[type=email].error, input[type=password].error {
  box-shadow: 0 0 5px rgba(240, 52, 52, 1) !important;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(240, 52, 52, 1) !important;
}
